<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/frontend-header :: common-frontend-header"/>

<body id="page-top">

<!-- Navigation -->
<div th:replace="common/frontend-header :: navbar-frontend" />

<!-- Intro Header -->
<header class="masthead img-fluid">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="brand-heading section-headline">
                        <span th:text="${#strings.toUpperCase(user.username)}"></span>
                    </h2>
                    <a href="#account" class="btn btn-circle js-scroll-trigger">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!--Nav tabs-->
<!-- Account Grid -->

<section id="account" class="content-section text-center">
    <div class="container">
        <div class="col-lg-8 mx-auto">
            <div id="exTab1">
                <ul  class="nav nav-pills">
                    <li  th:classappend="${classActiveEdit} ? 'active'">
                        <a  href="#1a" data-toggle="tab">Edit</a>
                    </li>
                    <li  th:classappend="${classActiveOrders} ? 'active'">
                        <a href="#2a" data-toggle="tab">Orders</a>
                    </li>
                    <li th:classappend="${classActiveBilling} ? 'active'">
                        <a href="#3a" data-toggle="tab">Billing</a>
                    </li>
                    <li th:classappend="${classActiveShipping} ? 'active'">
                        <a href="#4a" data-toggle="tab">Shipping</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <!--Edit user information-->
                    <div class="tab-pane active" id="1a" th:classappend="${classActiveEdit} ? 'in active'">
                        <form th:action="@{/updateUserInfo}" method="post">
                            <input type="hidden" name="id" th:value="${user.id}"/>
                            <div class="bg-info" th:if="${updateUserInfo}">User info updated.</div>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <label for="firstName">* First Name: </label>
                                    <input required="required" type="text" class="form-control" id="firstName"
                                           name="firstName" th:value="${user.firstName}"/>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="lastName">* Last Name: </label>
                                    <input required="required" type="text" class="form-control" id="lastName"
                                           name="lastName" th:value="${user.lastName}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="userName">* Username: </label>
                                <input required="required" type="text" class="form-control" id="userName"
                                       name="username" th:value="${user.username}"/>
                            </div>

                            <div class="form-group">
                                <label for="currentPassword">* Current Password: </label>
                                <input required="required" type="password" class="form-control" id="currentPassword"
                                       name="currentPassword" th:value="${currentPassword}"/>
                            </div>
                            <p>Enter your current password to change the email address or password.</p>

                            <div class="form-group">
                                <label for="email">* Email Address: </label>
                                <input required="required" type="email" class="form-control" id="email"
                                       name="email" th:value="${user.email}"/>
                            </div>
                            <p>A valid email address. All emails from this system will be sent to this
                                address. The email address will not be made public and will only be used if
                                you wish to receive a new password or email notifications.</p>

                            <div class="form-group">
                                <label for="txtNewPassword">* Password: </label>
                                <input required="required" type="password" class="form-control" id="txtNewPassword"
                                       name="newPassword"/>
                            </div>

                            <div class="form-group">
                                <label for="txtConfirmPassword">* Confirm Password: </label>
                                <input required="required" type="password" class="form-control" id="txtConfirmPassword"/>
                            </div>
                            <p>To change the current user password, enter the new password in both fields.</p>

                            <button type="submit" class="btn btn-default">Create new account</button>
                        </form>
                    </div>

                    <!-- Order information-->
                    <div class="tab-pane active" id="2a" th:classappend="${classActiveOrders} ? 'in active'">
                        <form th:action="@{/updateUserInfo}" method="post">
                            <input type="hidden" name="id" th:value="${user.id}"/>
                            <div class="bg-info" th:if="${updateUserInfo}">User info updated.</div>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <label for="firstName">* First Name: </label>
                                    <input required="required" type="text" class="form-control" id="firstName"
                                           name="firstName" th:value="${user.firstName}"/>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="lastName">* Last Name: </label>
                                    <input required="required" type="text" class="form-control" id="lastName"
                                           name="lastName" th:value="${user.lastName}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="userName">* Username: </label>
                                <input required="required" type="text" class="form-control" id="userName"
                                       name="username" th:value="${user.username}"/>
                            </div>

                            <div class="form-group">
                                <label for="currentPassword">* Current Password: </label>
                                <input required="required" type="password" class="form-control" id="currentPassword"
                                       name="currentPassword" th:value="${currentPassword}"/>
                            </div>
                            <p>Enter your current password to change the email address or password.</p>

                            <div class="form-group">
                                <label for="email">* Email Address: </label>
                                <input required="required" type="email" class="form-control" id="email"
                                       name="email" th:value="${user.email}"/>
                            </div>
                            <p>A valid email address. All emails from this system will be sent to this
                                address. The email address will not be made public and will only be used if
                                you wish to receive a new password or email notifications.</p>

                            <div class="form-group">
                                <label for="txtNewPassword">* Password: </label>
                                <input required="required" type="password" class="form-control" id="txtNewPassword"
                                       name="newPassword"/>
                            </div>

                            <div class="form-group">
                                <label for="txtConfirmPassword">* Confirm Password: </label>
                                <input required="required" type="password" class="form-control" id="txtConfirmPassword"/>
                            </div>
                            <p>To change the current user password, enter the new password in both fields.</p>

                            <button type="submit" class="btn btn-default">Create new account</button>
                        </form>
                    </div>

                    <!-- Billing Information -->
                    <div class="tab-pane active" id="3a" th:classappend="${classActiveBilling} ? 'in active'">
                        <ol class="breadcrumb">
                            <li class="breadcrub-item active">
                                <a th:href="@{/listOfCreditCards}" th:style="${listOfCreditCards} ? 'color:red'">List of Credit Card</a>
                            </li>
                            <li class="breadcrub-item active">
                                <a th:href="@{/addNewCreditCard}" th:style="${addNewCreditCard} ? 'color:red'">Add(Update) Credit Card</a>
                            </li>
                        </ol>

                        <div th:if="${listOfCreditCards}"><!--display list of credit cards if !isEmpty() and set any as default-->
                            <form th:action="@{/setDefaultPayment}" method="post">
                                <table class="table table-sm table-inverse">
                                    <thead>
                                        <tr>
                                            <th>Default</th>
                                            <th>Credit Card</th>
                                            <th>Operations</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="userPayment : ${userPaymentList}">
                                            <td><!--use id same in controller defaultUserPaymentId-->
                                                <input type="radio" name="defaultUserPaymentId" th:value="${userPayment.id}"
                                                       th:checked="${userPayment.defaultPayment}"/>
                                            </td>
                                            <td th:text="${userPayment.cardName}"></td>
                                            <td>
                                                <a th:href="@{/updateCreditCard(id=${userPayment.id})}"><i class="fa fa-pencil"></i></a>
                                                &nbsp;
                                                <a th:href="@{/removeCreditCard(id=${userPayment.id})}"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-default" type="submit">Save</button>
                            </form>
                        </div>
                    </div>

                    <!--add new credit card-->
                    <div th:if="${addNewCreditCard}">
                        <form th:action="@{addNewCreditCard}" method="post">
                            <div class="bg-info" th:if="${updateUserPaymentInfo}">User info updated</div>
                            <!--otherwise-->
                            <input hidden="hidden" name="id" th:value="${userPayment.id}" />

                            <div class="form-group">
                                <h5>* give a name for your card</h5>
                                <input type="text" class="form-control" id="cardName" placeholder="Card Name"
                                       th:name="cardName" required="required" th:value="${userPayment.cardName}"/>
                            </div>
                            <!--Billing address-->

                            <hr />
                            <div class="form-group">
                                <h4>Billing Address</h4>
                            </div>
                            <div class="form-group">
                                <label for="billingName">* Name</label>
                                <input type="text" class="form-control" id="billingName"
                                       placeholder="Receiver Name" th:name="userBillingName"
                                       required="required" th:value="${userBilling.userBillingName}"/>
                            </div>

                            <div class="form-group">
                                <label for="billingAddress">* Street Address</label>
                                <input type="text" class="form-control" id="billingAddress"
                                       placeholder="Street Address 1" th:name="userBillingStreet1"
                                       required="required" th:value="${userBilling.userBillingStreet1}"/>
                            </div>

                            <div class="form-group">
                                <label for="billingAddress"> Street Address</label>
                                <input type="text" class="form-control" id="billingAddress"
                                       placeholder="Street Address 2" th:name="userBillingStreet2"
                                       th:value="${userBilling.userBillingStreet2}"/>
                            </div>

                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="billingCity">* City</label>
                                        <input type="text" class="form-control" id="billingCity" placeholder="Billing City"
                                               th:name="userBillingCity" required="required" th:value="${userBilling.userBillingCity}"/>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="billingName">* State</label>
                                        <select id="billingState" class="form-control" th:name="userBillingState"
                                                th:value:="#{userbilling.userBillingState}" required="required">
                                            <option value="" disabled="disabled">Please Select an Option</option>
                                            <option th:each="state : ${stateList}" th:text="${state}"
                                                    th:selected="(${userBilling.userBillingState} == ${state})"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="billingZipCode">* ZipCode</label>
                                        <input type="text" class="form-control" id="billingZipCode" placeholder="Billing Zip Code"
                                               th:name="userBillingZipCode" required="required" th:value="${userBilling.userBillingZipCode}"/>
                                    </div>
                                </div>

                                <!--user billing country-->

                            </div>

                            <!--Credit Card Information-->

                            <hr />
                            <div class="form-group">
                                <h4>Credit Card Information</h4>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <img src="/image/creditcard.png" class="img-responsive" /> <br />
                                    <div class="form-group">
                                        <label for="cardType">* Select Card Type</label>
                                        <select class="form-control" id="cardType" th:name="type" th:value="${userPayment.type}">
                                            <option value="visa">Visa</option>
                                            <option value="mastercard">Master Card</option>
                                            <option value="discover">Discover</option>
                                            <option value="amex">American Express</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="cardHolder">* Card Holder Name:</label>
                                        <input type="text" class="form-control" id="cardHolder"
                                               required="required" placeholder="Card Holder Name"
                                               th:name="holderName" th:value="${userPayment.holderName}" />
                                    </div>
                                    <div class="form-group">
                                        <label for="cardNumber">* Card Number:</label>
                                        <div class="input-group">
                                            <input type="tel" class="form-control" id="cardNumber"
                                                   required="required" placeholder="Valid Card Number"
                                                   th:name="cardNumber" th:value="${userPayment.cardNumber}" />
                                            <span class="input-group-addon"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="form-group">
                                        <label>* Expiration Date</label>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <select class="form-control" name="expiredMonth" required="required"
                                                        th:value="${userPayment.expiryMonth}">
                                                    <option disabled="disabled">-- Month --</option>
                                                    <option value="01">Jan (01)</option>
                                                    <option value="02">Feb (02)</option>
                                                    <option value="03">Mar (03)</option>
                                                    <option value="04">Apr (04)</option>
                                                    <option value="05">May (05)</option>
                                                    <option value="06">June (06)</option>
                                                    <option value="07">July (07)</option>
                                                    <option value="08">Aug (08)</option>
                                                    <option value="09">Sep (09)</option>
                                                    <option value="10">Oct (10)</option>
                                                    <option value="11">Nov (11)</option>
                                                    <option value="12">Dec (12)</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control" name="expiryYear"
                                                        th:value="${userPayment.expiryYear}">
                                                    <option disabled="disabled">-- Year --</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                    <option value="19">2019</option>
                                                    <option value="20">2020</option>
                                                    <option value="21">2021</option>
                                                    <option value="22">2022</option>
                                                    <option value="23">2023</option>
                                                    <option value="23">2024</option>
                                                    <option value="23">2025</option>
                                                    <option value="23">2026</option>
                                                    <option value="23">2027</option>
                                                    <option value="23">2028</option>
                                                    <option value="23">2029</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <label for="cardCVC">CVC Code</label>
                                        <input id="cardCVC" type="tel" class="form-control" name="cvc"
                                               placeholder="CVC" th:name="cv" th:value="${userPayment.cvc}"/>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <button type="submit" class="btn btn-default btn-lg">Save All</button>
                        </form>
                    </div>

                    <!-- Shipping information-->
                    <div class="tab-pane active" id="4a" th:classappend="${classActiveShipping} ? 'in active'">
                        <div class="panel-group">
                            <div class="panel panel-default" style="border:none;">
                                <div class="panel-body">
                                    <ol class="breadcrumb">
                                        <li class="breadcrub-item active">
                                            <a th:href="@{/listOfShippingAddresses}" th:style="${listOfShippingAddresses} ? 'color:red'">List of Shipping Addresses</a>
                                        </li>
                                        <li class="breadcrub-item active">
                                            <a th:href="@{/addNewShippingAddress}" th:style="${addNewShippingAddress} ? 'color:red'">Add(Update) Shipping Address</a>
                                        </li>
                                    </ol>

                                    <div th:if="${listOfShippingAddresses}"><!--display list of credit cards if !isEmpty() and set any as default-->
                                        <form th:action="@{/setDefaultShippingAddress}" method="post">
                                            <table class="table table-sm table-inverse">
                                                <thead>
                                                <tr>
                                                    <th>Default</th>
                                                    <th>Shipping Address</th>
                                                    <th>Operations</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="userShipping : ${userShippingList}">
                                                    <td><!--use id same in controller defaultUserPaymentId-->
                                                        <input type="radio" name="defaultUserShippingAddressId" th:value="${userShipping.id}"
                                                               th:checked="${userShipping.userShippingDefault}"/><span>default</span>
                                                    </td>
                                                    <td th:text="${userShipping.userShippingStreet1} + ','
                                                        + ${userShipping.userShippingCity} + ', ' + ${userShipping.userShippingState}"></td>
                                                    <td>
                                                        <a th:href="@{/updateUserShipping(id=${userShipping.id})}"><i class="fa fa-pencil"></i></a>
                                                        &nbsp;
                                                        <a th:href="@{/removeUserShipping(id=${userShipping.id})}"><i class="fa fa-times"></i></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <button class="btn btn-default" type="submit">Save</button>
                                        </form>
                                    </div>
                                </div>

                                <!--add new shipping address-->
                                <div th:if="${addNewShippingAddress}">
                                    <form th:action="@{/addNewShippingAddress}" method="post">
                                        <div class="bg-info" th:if="${updateUserShippingInfo}">User info updated</div>
                                        <!--otherwise-->
                                        <!--<input hidden="hidden" name="id" th:value="${userShipping.id}" />-->

                                        <!--Shipping address-->

                                        <hr />
                                        <div class="form-group">
                                            <h4>Shipping Address</h4>
                                        </div>
                                        <div class="form-group">
                                            <label for="shippingName">* Name</label>
                                            <input type="text" class="form-control" id="shippingName"
                                                   placeholder="Receiver Name" th:name="userShippingName"
                                                   required="required" th:value="${userShipping.userShippingName}" />
                                        </div>

                                        <div class="form-group">
                                            <label for="shippingAddress">* Street Address</label>
                                            <input type="text" class="form-control" id="shippingAddress"
                                                   placeholder="Street Address 1" th:name="userShippingStreet1"
                                                   required="required" th:value="${userShipping.userShippingStreet1}"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="shippingAddress"> Street Address</label>
                                            <input type="text" class="form-control"
                                                   placeholder="Street Address 2" th:name="userShippingStreet2"
                                                   th:value="${userShipping.userShippingStreet2}"/>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="shippingCity">* City</label>
                                                    <input type="text" class="form-control" id="shippingCity" placeholder="Shipping City"
                                                           th:name="userShippingCity" required="required" th:value="${userShipping.userShippingCity}"/>
                                                </div>
                                            </div>

                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="shippingName">* State</label>
                                                    <select id="shippingState" class="form-control" th:name="userShippingState"
                                                            th:value:="#{userShipping.userShippingState}" required="required">
                                                        <option value="" disabled="disabled">Please Select an Option</option>
                                                        <option th:each="state : ${stateList}" th:text="${state}"
                                                                th:selected="(${userShipping.userShippingState} == ${state})"></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="shippingZipCode">* ZipCode</label>
                                                    <input type="text" class="form-control" id="shippingZipCode" placeholder="Shipping Zip Code"
                                                           th:name="userShippingZipCode" required="required" th:value="${userShipping.userShippingZipCode}"/>
                                                </div>
                                            </div>

                                            <!--TODO: user shipping country-->

                                        </div>


                                        <hr />
                                        <button type="submit" class="btn btn-default btn-lg">Save All</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Team -->
<section class="bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt=""/>
                    <h4>Kay Garland</h4>
                    <p class="text-muted">Lead Designer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt=""/>
                    <h4>Larry Parker</h4>
                    <p class="text-muted">Lead Marketer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="img/team/3.jpg" alt=""/>
                    <h4>Diana Pertersen</h4>
                    <p class="text-muted">Lead Developer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; JP University 2017</p>
    </div>
</footer>

<!-- Portfolio Modals -->

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt=""/>
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>Date: January 2017</li>
                                <li>Client: Threads</li>
                                <li>Category: Illustration</li>
                            </ul>
                            <button class="btn btn-default" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/02-full.jpg" alt=""/>
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>Date: January 2017</li>
                                <li>Client: Explore</li>
                                <li>Category: Graphic Design</li>
                            </ul>
                            <button class="btn btn-default" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/03-full.jpg" alt=""/>
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>Date: January 2017</li>
                                <li>Client: Finish</li>
                                <li>Category: Identity</li>
                            </ul>
                            <button class="btn btn-default" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/04-full.jpg" alt=""/>
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>Date: January 2017</li>
                                <li>Client: Lines</li>
                                <li>Category: Branding</li>
                            </ul>
                            <button class="btn btn-default" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/05-full.jpg" alt=""/>
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>Date: January 2017</li>
                                <li>Client: Southwest</li>
                                <li>Category: Website Design</li>
                            </ul>
                            <button class="btn btn-default" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/06-full.jpg" alt=""/>
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>Date: January 2017</li>
                                <li>Client: Window</li>
                                <li>Category: Photography</li>
                            </ul>
                            <button class="btn btn-default" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript -->
<div th:replace="common/frontend-header  :: body-bottom-scripts-frontend" />

</body>

</html>
